In [21]:
import requests
import pandas as pd

In [22]:
authkey = '인증키'

searchdate = '20220901'

data = 'AP01'

In [23]:
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey={}&searchdate={}&data={}'.format(authkey,searchdate,data)

re = requests.get(url)
r_data = re.json()
exchange = pd.DataFrame(r_data)
exchange

#컬럼정보

#result             조회 결과
#cur_unit           통화코드
#ttb                전신환(송금)받으실때
#tts                전신환(송금)보내실때
#deal_bas_r         매매 기준율
#bkpr               장부가격
#yy_efee_r          년환가료율
#ten_dd_efee_r      10일환가료율
#kftc_bkpr          서울외국환중개 매매기준율
#kftc_deal_bas_r    서울외국환중개 장부가격
#cur_nm             국가/통화명

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,1,AED,362.53,369.86,366.2,366,0,0,366,366.2,아랍에미리트 디르함
1,1,AUD,910.31,928.7,919.51,919,0,0,919,919.51,호주 달러
2,1,BHD,"3,532.04","3,603.39","3,567.72","3,567",0,0,"3,567","3,567.72",바레인 디나르
3,1,BND,953.05,972.3,962.68,962,0,0,962,962.68,브루나이 달러
4,1,CAD,"1,013.31","1,033.78","1,023.55","1,023",0,0,"1,023","1,023.55",캐나다 달러
5,1,CHF,"1,361.32","1,388.83","1,375.08","1,375",0,0,"1,375","1,375.08",스위스 프랑
6,1,CNH,192.66,196.55,194.61,194,0,0,194,194.61,위안화
7,1,DKK,179.92,183.55,181.74,181,0,0,181,181.74,덴마아크 크로네
8,1,EUR,"1,338.17","1,365.2","1,351.69","1,351",0,0,"1,351","1,351.69",유로
9,1,GBP,"1,545.5","1,576.73","1,561.12","1,561",0,0,"1,561","1,561.12",영국 파운드
10,1,HKD,169.66,173.09,171.38,171,0,0,171,171.38,홍콩 달러
11,1,IDR(100),8.96,9.15,9.06,9,0,0,9,9.06,인도네시아 루피아
12,1,JPY(100),956.67,976,966.34,966,0,0,966,966.34,일본 옌
13,1,KRW,0,0,1,1,0,0,1,1,한국 원
14,1,KWD,"4,320.03","4,407.3","4,363.67","4,363",0,0,"4,363","4,363.67",쿠웨이트 디나르
15,1,MYR,297.54,303.55,300.55,300,0,0,300,300.55,말레이지아 링기트
16,1,NOK,133.85,136.56,135.21,135,0,0,135,135.21,노르웨이 크로네
17,1,NZD,814.5,830.95,822.73,822,0,0,822,822.73,뉴질랜드 달러
18,1,SAR,354.25,361.4,357.83,357,0,0,357,357.83,사우디 리얄
19,1,SEK,124.84,127.37,126.11,126,0,0,126,126.11,스웨덴 크로나
20,1,SGD,953.05,972.3,962.68,962,0,0,962,962.68,싱가포르 달러
21,1,THB,36.41,37.14,36.78,36,0,0,36,36.78,태국 바트
22,1,USD,"1,331.64","1,358.55","1,345.1","1,345",0,0,"1,345","1,345.1",미국 달러